<div class="md:text-center mt-4">
  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent
  hover:bg-primary-400 bg-primary-300
  focus:outline-none focus:bg-primary-400 disabled:opacity-50 disabled:pointer-events-none text-white" aria-haspopup="dialog"
          aria-expanded="false" aria-controls="hs-bg-gray-on-hover-cards" data-hs-overlay="#hs-bg-gray-on-hover-cards">
    Create Folder
  </button>
</div>

<div #modal id="hs-bg-gray-on-hover-cards" class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="hs-bg-gray-on-hover-cards-label">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-4xl sm:w-full m-3 h-[calc(100%-3.5rem)] sm:mx-auto">
    <div class="max-h-full overflow-hidden flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
      <div class="flex justify-between items-center py-3 px-4 border-b">
        <h3 id="hs-bg-gray-on-hover-cards-label" class="font-bold text-gray-800">
          Add the necessary details to create a folder
        </h3>
        <button type="button" class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none" aria-label="Close" data-hs-overlay="#hs-bg-gray-on-hover-cards">
          <span class="sr-only">Close</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>

      <div class="p-4 overflow-y-auto">
        <div class="sm:divide-y divide-gray-200">


          <form (ngSubmit)="onSubmit($event)">
            <div class="pt-0 p-4 sm:pt-0 sm:p-7 text-start">
              <!-- Grid -->
              <div class="space-y-4 sm:space-y-6">

                <!--  name-->
                <div class="space-y-2">
                  <label for="input-folder-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                    Name
                  </label>

                  <input id="input-folder-name" type="text" class="py-2 px-3 pe-11 block w-full border-1
                  border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50
                  disabled:pointer-events-none" placeholder="Enter your folder's name" [formControl]="folderName"
                  (keydown.enter)="createFolder()">
                  @if(folderName.invalid && (!folderName.untouched)) {
                    <p class="text-sm text-red-600 mt-2" id="hs-validation-name">Please add the name of your folder</p>
                  }
                </div>
              </div>
              <!-- End Grid -->
            </div>
          </form>
        </div>
      </div>

      <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
        <a class="inline-flex items-center gap-x-1 text-sm text-secondary-100 decoration-2 hover:underline focus:outline-none focus:underline font-medium cursor-pointer" (click)="createFolder()">
          Create Folder
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
      </div>
    </div>
  </div>
</div>
