<!-- Card -->
<div class="flex flex-col bg-white border shadow-sm rounded-xl">
  <div class="p-4 md:p-5 flex justify-between gap-x-3">
    <div>
      <p class="text-xs uppercase tracking-wide text-gray-500">
        <span class="font-bold">{{bankAccount?.name}}</span> - {{bankAccount?.accountNumber}}
      </p>
      <div class="mt-1 flex items-center gap-x-2">
        <h3 class="mt-1 text-xl font-medium text-gray-800">
          {{bankAccount?.currentBalance | customCurrencyPipe}}
        </h3>
      </div>
    </div>
    <div class="shrink-0 flex justify-center items-center size-[46px] bg-primary-400 text-white rounded-full">
      <svg  class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="22" y2="22"/><line x1="6" x2="6" y1="18" y2="11"/><line x1="10" x2="10" y1="18" y2="11"/><line x1="14" x2="14" y1="18" y2="11"/><line x1="18" x2="18" y1="18" y2="11"/><polygon points="12 2 20 7 4 7"/></svg>
    </div>
  </div>

  <div class="ps-5 pe-5 pb-2 flex justify-between gap-x-3">
    <p class="text-sm text-gray-500">
      <span class="font-semibold text-gray-800">{{bankAccount?.bankName}}</span>
    </p>
    <span class="ms-1 inline-flex items-center gap-1.5 py-1 px-2 rounded-md text-xs font-medium bg-gray-200 text-gray-800">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
           stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline-block size-3 self-center">
        <rect width="20" height="12" x="2" y="6" rx="2"/><circle cx="12" cy="12" r="2"/><path d="M6 12h.01M18 12h.01"/>
      </svg>
      <span class="inline-block">
        {{bankAccount?.currency}}
      </span>
    </span>
  </div>
  <!--  actions-->
  <div class="ps-3 pb-3 flex items-center">
    <a class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 cursor-pointer" (click)="delete(bankAccount)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
           fill="none" stroke="currentColor" stroke-width="2"
           stroke-linecap="round" stroke-linejoin="round" class="shrink-0 size-4">
        <path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
      </svg>
    </a>
    <app-update-bank-account [bankAccount]="bankAccount"></app-update-bank-account>
  </div>

  <a class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 focus:outline-none
  focus:bg-gray-50 rounded-b-xl cursor-pointer" (click)="activate()">
    View transactions
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" [attr.fill]="isActive ? '#6e9a43' : 'none'" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="shrink-0 size-4"><circle cx="12" cy="12" r="10"/></svg>
  </a>

</div>
<!-- End Card -->
