@if(categories?.length === 0 || !categories){
  <!-- Body -->
  <div class="max-w-sm w-full min-h-[400px] flex flex-col justify-center mx-auto px-6 py-4">
    <div class="flex justify-center items-center size-[46px] bg-gray-100 rounded-lg">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="shrink-0 size-6 text-gray-600"><path d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z"/>
        <path d="m7 16.5-4.74-2.85"/><path d="m7 16.5 5-3"/><path d="M7 16.5v5.17"/><path d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z"/>
        <path d="m17 16.5-5-3"/><path d="m17 16.5 4.74-2.85"/><path d="M17 16.5v5.17"/><path d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z"/>
        <path d="M12 8 7.26 5.15"/><path d="m12 8 4.74-2.85"/><path d="M12 13.5V8"/>
      </svg>
    </div>

    <h2 class="mt-5 font-semibold text-gray-800">
      No categories found
    </h2>
    <p class="mt-2 text-sm text-gray-600">
      Create a new category to start tracking your expenses.
    </p>
    <div>
      <app-category-learn-info [folderId]="folderId"></app-category-learn-info>
    </div>

    <div class="mt-5">
      <app-create-category [folderId]="folderId"></app-create-category>
    </div>
  </div>
  <!-- End Body -->
} @else {
    <!-- Card -->
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <!-- Table -->
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                  <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                    Name
                  </span>
                </div>
              </th>

              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                  <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                    Target amount
                  </span>
                </div>
              </th>

              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                  <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                    Amount spent
                  </span>
                </div>
              </th>

              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                  <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                    Amount remaining
                  </span>
                </div>
              </th>

              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                  <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                    Details
                  </span>
                </div>
              </th>
            </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
            @for(category of categories; track category){
              <tr>
                <td class="size-px whitespace-nowrap lg:w-32">
                  <div class="px-6 py-3">
                    <span class="text-sm text-gray-600">
                      {{category.name}}
                    </span>
                  </div>
                </td>
                <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                     <span class="text-sm text-gray-600">
                       {{category.targetAmount | customCurrencyPipe}} {{category.generalCategory.currency}}
                    </span>
                  </div>
                </td>
                <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                     <span class="text-sm text-gray-600">
                       {{category.amountSpent | customCurrencyPipe}} {{category.generalCategory.currency}}
                    </span>
                  </div>
                </td>
                <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-3">
                     <span class="text-sm text-gray-600">
                        {{category.amountRemaining | customCurrencyPipe}} {{category.generalCategory.currency}}
                    </span>
                  </div>
                </td>
                <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-1.5 flex items-center gap-2">
                    <app-category-details [category]="category"></app-category-details>
                  </div>
                </td>
              </tr>
            }
            </tbody>
          </table>
          <!-- End Table -->
        </div>
      </div>
    </div>
    <!-- End Card -->
}
