<div class="text-start">
  <button #createCategoryButton
          type="button"
          class="py-2 px-3 inline-flex justify-center
      items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-primary-200 text-white
      hover:bg-primary-400 focus:outline-none focus:bg-primary-400 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="dialog" aria-expanded="false"
          [attr.data-hs-overlay]="'#hs-create-category-modal-' + folderId">
    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
    Create category
  </button>
</div>

<div id="hs-create-category-modal-{{folderId}}" class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="hs-create-category-modal-label">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-4xl sm:w-full m-3 h-[calc(100%-3.5rem)] sm:mx-auto">
    <div class="max-h-full overflow-hidden flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
      <div class="flex justify-between items-center py-3 px-4 border-b">
        <h3 id="hs-create-category-modal-label" class="font-bold text-gray-800">
          Create category
        </h3>
        <button type="button" class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100
        text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
                aria-label="Close" [attr.data-hs-overlay]="'#hs-create-category-modal-'+folderId">
          <span class="sr-only">Close</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>

      <div class="p-4 overflow-y-auto">
        <div class="sm:divide-y divide-gray-200">

          <!-- form-->
          <form>
            <!-- general information -->
            <div class="py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200">
              <label for="general-info-input" class="inline-block text-sm font-medium">
                General information
              </label>

              <!-- category name-->
              <div class="mt-2 space-y-3">
                <input id="general-info-input"
                       type="text"
                       [formControl]="name"
                       class="border-1 py-2 px-3 pe-11 block w-full border-gray-200
                       shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                       placeholder="Name">

                <!-- currency-->
                <select data-hs-select='{
                    "placeholder": "Select your currency...",
                    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                    "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-3 ps-4 pe-9 flex gap-x-2 text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:outline-none focus:ring-2 focus:ring-primary-400",
                    "dropdownClasses": "mt-2 z-50 w-full max-h-72 p-1 space-y-0.5 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300",
                    "optionClasses": "py-2 px-4 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50",
                    "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-blue-600 \" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>",
                    "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"shrink-0 size-3.5 text-gray-500 \" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>"
                  }' class="hidden"
                        [formControl]="currency">
                  <option value="USD">USD - United States</option>
<!--                  @for(currency of currencyService.currencies()?.supportedCurrencyCodes; track currency){-->
<!--                    <option value="{{currency.code}}">{{currency.name}} - {{currency.code}}</option>-->
<!--                  }-->
                </select>

                <!-- type -->
                <select data-hs-select='{
                    "placeholder": "Select your type...",
                    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                    "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-3 ps-4 pe-9 flex gap-x-2 text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:outline-none focus:ring-2 focus:ring-primary-400",
                    "dropdownClasses": "mt-2 z-50 w-full max-h-72 p-1 space-y-0.5 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300",
                    "optionClasses": "py-2 px-4 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50",
                    "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-blue-600 \" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>",
                    "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"shrink-0 size-3.5 text-gray-500 \" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>"
                  }' class="hidden"
                     [formControl]="categoryType">
                  @for(type of categoryTypes; track type){
                    <option value="{{type.value}}">{{type.name}}</option>
                  }
                </select>
                <!-- End Select -->
              </div>
            </div>
            <!-- End general information -->

            <div class="py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200">
              <label class="inline-block text-sm font-medium">
                Budget Allocation
              </label>

              @if(categoryType.value == CategoryType.Fixed.toString() && categoryType.value != null){
                <p class="text-xs text-gray-500">By selecting the "Fixed" type, you set a consistent amount to be spent every period. This is ideal for recurring expenses like your internet or phone bill.</p>
              }

              @if(categoryType.value == CategoryType.Custom.toString() && categoryType.value != null){
                <p class="text-xs text-gray-500 mb-1">
                  The "Custom" type is ideal for larger expenses that you want to divide across multiple periods. For example, if you're saving up for a $1,200 laptop, you can create a custom category
                  specifically for it. <br>
                </p>
                <p class="mb-1 text-xs text-gray-500">You have two options:</p>
                <div class="mb-1">
                  <ol class="list-decimal text-xs list-inside text-gray-500">
                    <li> <span class="font-bold">Manually set</span>how much to allocate each period.</li>
                    <li> <span class="font-bold">Set a final date</span>, and Cocobudget will calculate the amount you need to allocate per period to stay on track.</li>
                  </ol>
                </div>
              }

              <p class="text-xs text-gray-500"></p>

              <div class="mt-2 space-y-3">
                <input id="af-general-target-amount"
                       type="text"
                       [formControl]="generalTargetAmount"
                       (input)="onInputGeneralTargetChange($event)"
                       (blur)="formatGeneralAmountValue()"
                       class="border-1 py-2 px-3 pe-11 block w-full
                         border-gray-200 shadow-sm text-sm rounded-lg focus:pri
                         focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                       [placeholder]="categoryType.value == CategoryType.Fixed.toString() ? 'Enter the target amount for each period' : 'Enter the total amount you plan to spend'">
              </div>
            </div>

            @if(categoryType.value == CategoryType.Custom.toString() && categoryType.value != null){

              <div class="flex">
                <input type="checkbox" class="shrink-0 mt-0.5 border-gray-200 rounded text-primary-400
                focus:ring-primary-400 disabled:opacity-50 disabled:pointer-events-none" id="hs-checked-checkbox" [formControl]="isFinalDateNeeded">
                <label for="hs-checked-checkbox" class="text-sm text-gray-500 ms-3">
                  Do you want to set a final date? (If unchecked, you can manually set the amount for each period.)
                </label>
              </div>

              @if(isFinalDateNeeded.value == true) {
                <div class="flex justify-between items-center">
                  <label class="block text-sm font-medium mb-2"></label>
                  <span class="block mb-2 text-sm text-gray-500">Final Date (Optional)</span>
                </div>
                <input id="af-final-date"
                       type="date"
                       class="border-1 py-2 px-3 block w-full
                       border-gray-200 shadow-sm text-sm rounded-lg focus:border-primary-400
                       focus:ring-primary-400 disabled:opacity-50 disabled:pointer-events-none"
                       [formControl]="finalDate"
                       [min]="today">
              }
              @if(isFinalDateNeeded.value == false) {
                <hr class="mt-6 mb-6">
                <div class="mt-2 space-y-3">
                  <input id="af-target-amount"
                         type="text"
                         [formControl]="targetAmount"
                         (input)="onInputTargetChange($event)"
                         (blur)="formatTargetAmountValue()"
                         class="border-1 py-2 px-3 pe-11 block w-full
                         border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500
                         focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                         placeholder="Enter the period expense if no final date is set">
                </div>
              }
            }
          </form>
        </div>
      </div>

      <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
        <a class="cursor-pointer inline-flex items-center gap-x-1 text-sm text-secondary-100 decoration-2 hover:underline focus:outline-none focus:underline font-medium" (click)="createCategory()">
          Create category
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
      </div>
    </div>
  </div>
</div>
