<!-- Table Section -->
<div class="max-w-[85rem] mx-auto">
  <!-- Card -->
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
          <!-- Header -->
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
            <div>
              <h2 class="text-xl font-semibold text-gray-800">
                Transactions
              </h2>
              <p class="text-sm text-gray-600">
                View all transactions for  <span class="font-bold">{{bankAccount?.name}}</span> account during the current period.
              </p>
            </div>

            <div>
              <div class="inline-flex gap-x-2">
                <app-create-transaction [bankAccount]="bankAccount"></app-create-transaction>
              </div>
            </div>
          </div>
          <!-- End Header -->

          <!-- Collapse -->
          <div class="border-b border-gray-200 hover:bg-gray-50">
            <button type="button" class="hs-collapse-toggle py-4 px-6 w-full flex items-center gap-2 font-semibold text-gray-800" id="hs-as-table" aria-expanded="false" aria-controls="hs-as-table-label" data-hs-collapse="#hs-as-table-label">
              <svg class="hs-collapse-open:rotate-90 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              Insights
            </button>
            <div id="hs-as-table-label" class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-as-table">
              <div class="pb-4 px-6">
                <div class="flex items-center space-x-2">
                  <span class="size-5 flex justify-center items-center rounded-full bg-blue-600 text-white">
                    <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                  </span>
                  <span class="text-sm text-gray-800">
                    There are no insights for this period.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- End Collapse -->

          <!-- Table -->
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                      Type
                    </span>
                  <div class="hs-tooltip">
                    <div class="hs-tooltip-toggle">
                      <svg class="shrink-0 size-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                      <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm" role="tooltip">
                          The type shows how it affects the account balance.
                        </span>
                    </div>
                  </div>
                </div>
              </th>

              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                      Amount
                    </span>
                </div>
              </th>

              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                      Status
                    </span>
                  <div class="hs-tooltip">
                    <div class="hs-tooltip-toggle">
                      <svg class="shrink-0 size-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                      <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm" role="tooltip">
                          Some transactions need review due to currency differences. Confirm the exchange rate to finalize.
                        </span>
                    </div>
                  </div>
                </div>
              </th>

              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                      Category
                    </span>
                </div>
              </th>

              <th scope="col" class="px-6 py-3 text-start">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                      Created
                    </span>
                </div>
              </th>

              <th scope="col" class="px-6 py-3 text-end"></th>
            </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
              @for(transaction of transactionService.transactions(); track transaction){
                @if(transaction.linkedAccountId === bankAccount?.id){
                  <tr class="bg-white hover:bg-gray-50">
                    <td class="size-px whitespace-nowrap">
                      <button type="button" class="block" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-ai-invoice-modal" data-hs-overlay="#hs-ai-invoice-modal">
                    <span class="block px-6 py-2">
                      <span class="font-mono text-sm text-blue-600">{{enumService.getEnumToString(TransactionTypeEnum, transaction.type)}}</span>
                    </span>
                      </button>
                    </td>
                    <td class="size-px whitespace-nowrap">
                      <button type="button" class="block" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-ai-invoice-modal" data-hs-overlay="#hs-ai-invoice-modal">
                    <span class="block px-6 py-2">
                      <span class="text-sm text-gray-600">
                        {{transaction.type === TransactionTypeEnum.Income ? '+' : '-'}} {{transaction.amount | customCurrencyPipe}} {{bankAccount?.currency}}
                      </span>
                    </span>
                      </button>
                    </td>
                    <td class="size-px whitespace-nowrap">

                      @if(!transaction.requireCategoryReview){
                        <span class="block px-6 py-2">
                          <span class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-teal-100 text-teal-800 rounded-full">
                            <svg class="size-2.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                            Paid
                          </span>
                        </span>
                      } @else {
                        <button type="button" class="block" aria-haspopup="dialog" aria-expanded="false"
                                aria-controls="hs-ai-invoice-modal" data-hs-overlay="#hs-ai-invoice-modal">
                          <span class="block px-6 py-2">
                            <span class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-warning text-white rounded-full">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                   class="size-2.5"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/></svg>
                              Requires Review
                            </span>
                          </span>
                        </button>
                      }
                    </td>
                    <td class="size-px whitespace-nowrap">
                      <button type="button" class="block" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-ai-invoice-modal" data-hs-overlay="#hs-ai-invoice-modal">
                    <span class="block px-6 py-2">
                      <span class="text-sm text-gray-600">{{folderService.getCategoryNameById(transaction.linkedCategoryId)}}</span>
                    </span>
                      </button>
                    </td>
                    <td class="size-px whitespace-nowrap">
                      <button type="button" class="block" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-ai-invoice-modal" data-hs-overlay="#hs-ai-invoice-modal">
                    <span class="block px-6 py-2">
                      <span class="text-sm text-gray-600">{{transaction.createdOn | date}}</span>
                    </span>
                      </button>
                    </td>
                    <td class="size-px whitespace-nowrap">
                      @if(!transaction.requireCategoryReview){
                          <app-transaction-details [transaction]="transaction" [bankAccount]="bankAccount"></app-transaction-details>
                      } @else {
                        <app-review-category-transaction [transaction]="transaction" [bankAccount]="bankAccount"></app-review-category-transaction>
                      }
                    </td>
                  </tr>
                }
              }
            </tbody>
          </table>
          <!-- End Table -->

          <!-- Footer -->
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200">
            <div>
              <p class="text-sm text-gray-600">
                <span class="font-semibold text-gray-800">{{countTransactionsByAccountId()}}</span> results
              </p>
            </div>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Table Section -->


