<div class="mb-8 md:flex md:items-center">
  <div>
    <h2 class="text-xl font-bold text-gray-800">
      Folders Overview
    </h2>
    <p class="text-sm text-gray-600">
      Here you can see all the folders and categories that you have created.
    </p>
  </div>
  <div class="ml-auto">
    <app-create-folder></app-create-folder>
  </div>
</div>

<div class="inline-flex rounded-lg shadow-sm mb-4">
  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 -ms-px
  first:rounded-s-lg first:ms-0 last:rounded-e-lg text-sm font-medium focus:z-10 border
  border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50
  disabled:opacity-50 disabled:pointer-events-none" (click)="expandAllFolders()">
    Expand All
  </button>
  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2
  -ms-px first:rounded-s-lg first:ms-0 last:rounded-e-lg text-sm font-medium focus:z-10 border
   border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none
   focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" (click)="collapseAllFolders()">
    Collapse All
  </button>
</div>

<div class="hs-accordion-group" data-hs-accordion-always-open="" #accordion>
  @for(folder of foldersService.folders(); track folder.id){
    @if(folder.isActive){
      <div class="hs-accordion bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg">
        <div class="flex items-center">
          <button class="hs-accordion-toggle inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5"
                  aria-expanded="false" aria-controls="hs-basic-bordered-collapse-two" (click)="toggleFolder(folder.id)" [disabled]="!isInputDisabled(folder.id)">

            <svg class="size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" [ngClass]="{
                  'block' : !isFolderOpened(folder.id),
                  'hidden' : isFolderOpened(folder.id)
                 }">
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>

            <svg class="size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" [ngClass]="{
                  'block' : isFolderOpened(folder.id),
                  'hidden' : !isFolderOpened(folder.id)
                 }">
              <path d="M5 12h14"></path>
            </svg>

            <span [ngClass]="{
              'hidden' : !isInputDisabled(folder.id),
              'block' : isInputDisabled(folder.id),
            }">{{ folder.name }}</span>
            <span class="flex gap-2" [ngClass]="{
              'hidden' : isInputDisabled(folder.id),
              'block' : !isInputDisabled(folder.id),
            }">
                <input type="text" [value]="folder.name" [ngClass]="{
                  'border-1 border-black rounded ps-1 focus:none' : !isInputDisabled(folder.id),
                }" #updateInput [id]="folder.id">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(22, 163, 74)"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check cursor-pointer" (click)="updateFolder(folder)"><path d="M20 6 9 17l-5-5"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(239, 68, 68)" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round" class="lucide lucide-x cursor-pointer" (click)="disableFolder(folder.id)"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
              </span>
          </button>

          <!--        actions-->
          <div class="px-6 py-2 flex items-center">
            <div>
              <app-create-category [folderId]="folder.id" [isIcon]="true"></app-create-category>
            </div>
            <div class="hs-dropdown [--placement:bottom-right] relative inline-block">
              <button id="hs-table-dropdown-1" type="button" class="hs-dropdown-toggle py-1.5 px-2 inline-flex justify-center items-center gap-2 rounded-lg text-gray-700 align-middle disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
              </button>
              <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden divide-y divide-gray-200 min-w-40 z-20 bg-white shadow-2xl rounded-lg p-2 mt-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-table-dropdown-1">
                <div class="py-2 first:pt-0 last:pb-0">
                          <span class="block py-2 px-3 text-xs font-medium uppercase text-gray-400">
                            Actions
                          </span>
                  <a class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 cursor-pointer" (click)="enableFolder(folder.id)">
                    Rename
                  </a>
                </div>
                <div class="py-2 first:pt-0 last:pb-0">
                  <a class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 cursor-pointer" (click)="deleteFolder(folder)">
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-bordered-heading-two">
          <div class="pb-4 px-5">
            <app-category-overview [categories]="folder.categories" [folderId]="folder.id"></app-category-overview>
          </div>
        </div>
      </div>
    }
  }
</div>
