@if(!areBankAccountsAvailable()){
  no hay sexy boy
} @else {
  <!-- Card Section -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
      @for(account of this.bankAccountService.accounts(); track account){
        <app-bank-account-card [bankAccount]="account" [isActive]="isBankAccountActive(account)" (onActivate)="activate($event)"></app-bank-account-card>
      }
      <app-create-bank-account></app-create-bank-account>
    </div>
    <!-- End Grid -->

    <!-- Transactions Overview -->
    <div class="pt-16">
      <app-bank-account-transactions-overview [bankAccount]="activeBankAccount"></app-bank-account-transactions-overview>
    </div>
  </div>
}
